#home-page {
    background-image: url(./../images/woman-witht-yellow-headphones.jpg);
    height: 45.1vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home-info {
    margin-right: 200px;
}

#home-info > h1 {
    display: flex;
    flex-direction: column;
}

#home-info > h1 > span:first-child,
#home-info > h1 > span:last-child {
    font-size: 6em;
    text-transform: uppercase;
}

#home-info > h1 > span:nth-child(2) {
    font-size: 3em;
}