#login {
    background-image: radial-gradient(circle at 58% 50%, rgba(250,193,85, 0.1) 0%, rgba(250,193,85, 0.1) 60%,transparent 60%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 36% 79%, rgba(250,193,85, 0.1) 0%, rgba(250,193,85, 0.1) 49%,transparent 49%, transparent 99%,transparent 99%, transparent 100%),radial-gradient(circle at 48% 23%, rgba(250,193,85, 0.1) 0%, rgba(250,193,85, 0.1) 50%,transparent 50%, transparent 87%,transparent 87%, transparent 100%),radial-gradient(circle at 55% 69%, rgba(250,193,85, 0.1) 0%, rgba(250,193,85, 0.1) 3%,transparent 3%, transparent 19%,transparent 19%, transparent 100%),radial-gradient(circle at 38% 69%, rgba(250,193,85, 0.1) 0%, rgba(250,193,85, 0.1) 15%,transparent 15%, transparent 33%,transparent 33%, transparent 100%),linear-gradient(45deg, rgb(253,250,200),rgb(243,236,143));
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 0 20px #000000;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

label {
    font-weight: 600;
}

input {
    margin-bottom: 5%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #747881;

}

button {
    margin-top: 10%;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    background-color: #EEBF3D;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
}

textarea {
    margin-bottom: 20px;
}

.field {
    margin-top: 50px;
    color: #747881;
}

.field > span > a {
    color: #EEBF3D;
}