#home-page {
    background-image: url(./../images/home-bg.jpg);
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-info {
    margin-top: 200px;
}

#home-info > h1 {
    color: #ffffff;
    text-shadow: 1px 0 10px #000000;
}

#home-info > h1 > span:first-child,
#home-info > h1 > span:last-child {
    font-size: 10rem;
    text-transform: uppercase;
}

#home-info > h1 > span:nth-child(2) {
    font-size: 5rem;
}

/* Large Screens */
@media screen and (max-width: 1600px) {
    #home-info > h1 > span:first-child,
    #home-info > h1 > span:last-child {
        font-size: 8rem;
    }

    #home-info > h1 > span:nth-child(2) {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1200px) {
    #home-info > h1 > span:first-child,
    #home-info > h1 > span:last-child {
        font-size: 6rem;
    }

    #home-info > h1 > span:nth-child(2) {
        font-size: 4rem;
    }
}

/* Laptops */
@media screen and (max-width: 992px) {
    #home-info {
        margin-top: 400px;
    }

    #home-info > h1 > span {
        display: flex;
        justify-content: center;
    }

    #home-info > h1 > span:first-child,
    #home-info > h1 > span:last-child {
        font-size: 7rem;
    }

    #home-info > h1 > span:nth-child(2) {
        font-size: 4rem;
    }
}