header {
    background-color: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    margin-top: 10px;
    margin-right: 300px;
}

#logo > a > img {
    height: 40px;
    width: 200px;
}

#app-nav > ul > li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

#app-nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

#app-nav > ul > li > a:hover {
    text-decoration: underline;
    color: #EEBF3D;
}