header {
    background-color: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    margin-top: 10px;
    margin-right: 300px;
}

#logo > a > img {
    height: 40px;
    width: 200px;
}

#nav-menu > li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

#nav-menu > li > a {
    text-decoration: none;
    color: #ffffff;
}

#nav-menu > li > a:hover {
    color: #EEBF3D;
}

#hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    #nav-menu {
        position: fixed;
        left: 100%;
        top: 55px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    #nav-menu.active {
        left: 0;
    }

    #nav-menu > li {
        display: block;
    }

    #hamburger-menu {
        display: block;
    }

    #hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 600px) {
    #logo > a > img {
        height: 30px;
        width: 150px;
    }
}